*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
main{
    box-shadow: 0 0 30px 0 rgba(34, 50, 80, 0.2);
    margin: auto;
    width: 80%;
    display: block;
    padding: 15px;
}
main *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#result{
    color: aliceblue;
    font-size: large;
    background-color: rgb(3, 177, 3);
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
}
#flexArea{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#flexArea div{
    margin: 2px;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 1px;
    border: 1px solid black;
}
#info{
    display: flex;
    align-items: center;
    text-decoration: 1px black underline ;
}
#startWrapper{
    margin: 0;
    padding: 0;
    animation-duration: 1s;
    overflow: hidden;
}
#finishWrapper{
    display: none;
}